section {
    padding-top: 40px;
    padding-bottom: 40px;
}

section .content{
    width: 80%;
    margin: 80px auto;
}

.about .about-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span{
    color:black;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: red;
    left: 0;
    bottom: 0;
}

section .title span::after{
    bottom:-7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .left-side img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;

}

.about .about-details .left-side{
    width: 45%;
}

