section {
    padding-top: 40px;
    padding-bottom: 40px;
}

section .content{
    width: 80%;
    margin: 80px auto;
}

section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 13%;
}

section .title span{
    color:black;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: red;
    left: 0;
    bottom: 0;
}

section .title span::after{
    bottom:-7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

*:before,
*:after{
    box-sizing: border-box;
}

/* .contact{
    background: #f9f9f9;
} */

form {
    max-width: 600px;
    text-align: center;
    margin: 20px auto;
  }
  
  input,
  textarea {
  
    border: 0px;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Merriweather', sans-serif;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    resize: none;
  }
  
  cf:focus {
    box-shadow: 0 0px 2px rgba(236, 16, 8, 1) !important;
  }
  
  #input-submit {
    color: white;
    background: red;
    cursor: pointer;
  }
  
  cf:hover {
    box-shadow: 0 0px 2px rgba(#aaa, 0.6);
  }
  
  textarea {
    height: 126px;
  }
  
  
  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }
  
  .right {
    width: 50%;
  }
  
  .left {
    margin-right: 2%;
  }
  

